<div ng-controller="transactionEditorContent">
   <script type="text/ng-template" id="/public/TransactionEditorContent.html">  
    -->    <div class="modal-header">
            <h3 class="modal-title">Edit transaction</h3>
        </div>
        <div class="modal-body">
        </div>      
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    <!--</script>
    Blahblahblah
</div>
